<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
  <body>
  <div>
    <a href link="/signUp" class="btn btn-info">Sign Up</a>
    <a href link="/logIn" class="btn btn-success">Log In</a>
  </div>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <table class="table table-striped">
    <tr>
      <th>Title</th>
      <th>User</th>
      <th>Link</th>
    </tr>
    <tr></tr>
    <tr></tr>
  </table>

  </body>
</html>
